body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
} 

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0px;
  z-index: 1;
  width: 100%;
  padding: 20px;
}

#client-form {
  position:absolute;
  }

#client-button {
  position:absolute;
  top:80%;
  right:50%;
  z-index: 2;
}

#q-i-button {
  position:absolute;
  top:80%;
  left:50%;
  z-index: 2;
}

#quotation-form {
position:absolute;
right:50%;
}

#qoutation-pdf {
  position:absolute;
  bottom:2%;
  right: 51.5%;   
}

#invoice-form {
position:absolute;   
left:50%;
}

#invoice-pdf {
    position:absolute;
    bottom:2%;  
    left: 51.3%;   
}

#qoutation-pdf {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 25.5px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 1;
}


  #qoutation-pdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #qoutation-pdf span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #qoutation-pdf:hover span {
    padding-right: 25px;
  }

  #qoutation-pdf:hover span:after {
    opacity: 1;
    right: 0;
  }

  #invoice-pdf {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 25.5px;
    width: 600px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    z-index: 1;
  }
 

  #invoice-pdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #invoice-pdf span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #invoice-pdf:hover span {
    padding-right: 25px;
  }

  #invoice-pdf:hover span:after {
    opacity: 1;
    right: 0;
  }

  #q-i-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 25.5px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 1;
}

  #q-i-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #q-i-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #q-i-button:hover span {
    padding-right: 25px;
  }

  #q-i-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #client-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 25.5px;
  width: 600px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 1;
}

  #client-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #client-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #client-button:hover span {
    padding-right: 25px;
  }

  #client-button:hover span:after {
    opacity: 1;
    right: 0;
  }